In [1]:
import pandas as pd
pd.options.display.max_columns = None
#method 2 pd.set_option('display.max_columns', None)

In [2]:
bdi3 = pd.read_excel("../data/NSS data_BDI3 Scores 20230101 20240630_Compiled_20241107.xlsx")

In [3]:
bdi3.shape

(34979, 228)

In [4]:
bdi3_entry = bdi3[['TEIDS Child ID' ,'Adaptive-Self Care Date of Testing']]

In [5]:
bdi3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34979 entries, 0 to 34978
Columns: 228 entries, Last Name to Cognitive-Perception and Concepts NCE
dtypes: datetime64[ns](13), float64(119), object(96)
memory usage: 60.8+ MB

In [6]:
bdi2 = pd.read_csv("../data/NSS data_BDI2 scores_20200101-20230131_20241106.csv")

C:\Users\fakhr\AppData\Local\Temp\ipykernel_27368\2366034627.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  bdi2 = pd.read_csv("../data/NSS data_BDI2 scores_20200101-20230131_20241106.csv")

In [29]:
bdi2

,StudentID,studentAssessmentID,resultStudentDomainID,Student TEIDS ID,domainID,domainText,ScoreTypeID,ScoreTypeText,StaffExternalID,testDate,lastUpdateDate,rawScore,CompleteStatus,isSpanish,isSpanishIO,scaledScore,DQScore,PRScore,Ci95Min,Ci95Max,NceScore,TScore,ZScore,PRSign,AEScore,AESign,isSSRequired,stdDevScore1,stdDevScore2,stdDevScore3,NCESign,totalCSS,totalCSSMin,totalCSSMax,NormType
0,2224693,8625078,138104116,52101,7,Self-Care,2.0,ItemDetails,34775.0,2/25/2022,NaN,2.0,1,NaN,NaN,6.0,NaN,9.0,NaN,NaN,22.0,37.0,-1.33,NaN,0.0,NaN,1.0,NaN,NaN,NaN,NaN,322.0,301.0,343.0,2
1,2224693,8625078,138104117,52101,10,Adult Interaction,2.0,ItemDetails,34775.0,2/25/2022,NaN,14.0,1,NaN,NaN,15.0,NaN,95.0,NaN,NaN,85.0,67.0,1.67,NaN,5.0,NaN,1.0,NaN,NaN,NaN,NaN,413.0,403.0,423.0,2
2,2224693,8625078,138104118,52101,12,Self-Concept and Social Role,2.0,ItemDetails,34775.0,2/25/2022,NaN,6.0,1,NaN,NaN,11.0,NaN,63.0,NaN,NaN,57.0,53.0,0.33,NaN,2.0,NaN,1.0,NaN,NaN,NaN,NaN,365.0,355.0,375.0,2
3,2224693,8625078,138104119,52101,14,Receptive Communication,2.0,ItemDetails,34775.0,2/25/2022,NaN,4.0,1,NaN,NaN,6.0,NaN,9.0,NaN,NaN,22.0,37.0,-1.33,NaN,0.0,NaN,1.0,NaN,NaN,NaN,NaN,343.0,333.0,353.0,2
4,2224693,8625078,138104120,52101,15,Expressive Communication,2.0,ItemDetails,34775.0,2/25/2022,NaN,1.0,1,NaN,NaN,4.0,NaN,2.0,NaN,NaN,8.0,30.0,-2.00,NaN,0.0,NaN,1.0,NaN,NaN,NaN,NaN,288.0,267.0,309.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325681,2319431,8761874,140602545,NaN,13,Communication,NaN,NaN,NaN,NaN,NaN,24.0,1,0.0,NaN,3.0,56.0,0.2,51.0,67.0,1.0,21.0,-2.93,NaN,NaN,NaN,1.0,NaN,NaN,NaN,<,381.0,373.0,388.0,2
325682,2319431,8761874,140602546,NaN,16,Motor,NaN,NaN,NaN,NaN,NaN,70.0,1,0.0,NaN,15.0,88.0,21.0,83.0,95.0,33.0,42.0,-0.80,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,427.0,420.0,433.0,2
325683,2319431,8761874,140602547,NaN,19,Perceptual Motor,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
325684,2319431,8761874,140602548,NaN,20,Cognitive,NaN,NaN,NaN,NaN,NaN,32.0,1,0.0,NaN,14.0,80.0,9.0,73.0,91.0,22.0,37.0,-1.33,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,433.0,424.0,441.0,2
325685,2319431,8761874,140602549,NaN,22,Reasoning and Academic Skills,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2

In [8]:
#bdi2.head(20)

In [9]:
eco = pd.read_excel("../data/NSS_ECO Data Ind 3 FFY 2023-24 20241211.xlsx", sheet_name="ECO with Exit23-24 ")

In [10]:
eco.shape

(9999, 152)

In [11]:
#eco.head(10)

In [12]:
#bdi2['Student TEIDS ID']=bdi2['Student TEIDS ID'].astype(str)
#bdi3['TEIDS Child ID'] = bdi3['TEIDS Child ID'].astype(str)
#merged_data = pd.merge(bdi2,bdi3, on='StudentID', how='inner')

In [13]:
#m6 = eco[eco['<Calc> Day count 182 days +']==1]

In [14]:
#m6

In [15]:
eco1 = eco[['CHILD_ID' ,'Initial IFSP Date','ECO_Entry_DATE','ECO_Exit_DATE']]

In [16]:
bdi2_entry = bdi2[['Student TEIDS ID' ,'testDate','lastUpdateDate']]

In [17]:
bdi3_entry = bdi3[['TEIDS Child ID' ,'Adaptive-Self Care Date of Testing']]

In [18]:
bdi3_entry

       TEIDS Child ID Adaptive-Self Care Date of Testing
0            474074.0                         2023-09-13
1            474186.0                         2023-10-26
2            474641.0                         2023-07-31
3            474848.0                         2023-08-04
4            474967.0                         2023-07-31
...               ...                                ...
34974             NaN                         2023-11-29
34975             NaN                         2023-12-01
34976             NaN                         2023-12-04
34977             NaN                         2023-12-06
34978             NaN                         2024-04-09

[34979 rows x 2 columns]

In [19]:
#bdi3_entry['TEIDS Child ID'] = bdi3_entry['TEIDS Child ID'].fillna(0.0)
#bdi3_entry['TEIDS Child ID'] = bdi3_entry['TEIDS Child ID'].astype(str).astype(str).str.replace('.0', '').astype(int)

In [20]:
eo= pd.merge(eco1, bdi2_entry, left_on= 'CHILD_ID',right_on='Student TEIDS ID', how='left')

In [21]:
eo1= pd.merge(eo, bdi3_entry, left_on= 'CHILD_ID',right_on='TEIDS Child ID', how='left')

In [26]:
eo1.head(50)

,CHILD_ID,Initial IFSP Date,ECO_Entry_DATE,ECO_Exit_DATE,Student TEIDS ID,testDate,lastUpdateDate,TEIDS Child ID,Adaptive-Self Care Date of Testing
0,473991,2020-01-07,2020-01-07,2022-12-27,NaN,NaN,NaN,NaN,NaT
1,474186,2020-01-14,2020-02-13,2023-10-26,NaN,NaN,NaN,474186.0,2023-10-26
2,474575,2020-01-17,2020-01-17,2020-07-29,NaN,NaN,NaN,NaN,NaT
3,474623,2020-01-22,2019-01-22,2022-12-16,474623,1/8/2020,NaN,NaN,NaT
4,474623,2020-01-22,2019-01-22,2022-12-16,474623,1/8/2020,NaN,NaN,NaT
5,474623,2020-01-22,2019-01-22,2022-12-16,474623,1/8/2020,NaN,NaN,NaT
6,474623,2020-01-22,2019-01-22,2022-12-16,474623,1/8/2020,NaN,NaN,NaT
7,474623,2020-01-22,2019-01-22,2022-12-16,474623,1/8/2020,NaN,NaN,NaT
8,474623,2020-01-22,2019-01-22,2022-12-16,474623,1/8/2020,NaN,NaN,NaT
9,474623,2020-01-22,2019-01-22,2022-12-16,474623,1/8/2020,NaN,NaN,NaT
10,474623,2020-01-22,2019-01-22,2022-12-16,474623,1/8/2020,NaN,NaN,NaT
11,474623,2020-01-22,2019-01-22,2022-12-16,474623,1/8/2020,NaN,NaN,NaT
12,474623,2020-01-22,2019-01-22,2022-12-16,474623,NaN,NaN,NaN,NaT
13,474623,2020-01-22,2019-01-22,2022-12-16,474623,NaN,NaN,NaN,NaT
14,474623,2020-01-22,2019-01-22,2022-12-16,474623,NaN,NaN,NaN,NaT
15,474623,2020-01-22,2019-01-22,2022-12-16,474623,NaN,NaN,NaN,NaT
16,474623,2020-01-22,2019-01-22,2022-12-16,474623,NaN,NaN,NaN,NaT
17,474623,2020-01-22,2019-01-22,2022-12-16,474623,NaN,NaN,NaN,NaT
18,474623,2020-01-22,2019-01-22,2022-12-16,474623,NaN,NaN,NaN,NaT
19,474623,2020-01-22,2019-01-22,2022-12-16,474623,NaN,NaN,NaN,NaT
20,474623,2020-01-22,2019-01-22,2022-12-16,474623,NaN,NaN,NaN,NaT
21,474848,2021-07-09,2021-07-09,2023-08-04,474848,6/22/2021,6/25/2021,474848.0,2023-08-04
22,474848,2021-07-09,2021-07-09,2023-08-04,474848,6/22/2021,6/25/2021,474848.0,2023-08-04
23,474848,2021-07-09,2021-07-09,2023-08-04,474848,6/22/2021,6/25/2021,474848.0,2023-08-04
24,474848,2021-07-09,2021-07-09,2023-08-04,474848,6/22/2021,6/25/2021,474848.0,2023-08-04
25,474848,2021-07-09,2021-07-09,2023-08-04,474848,6/22/2021,6/25/2021,474848.0,2023-08-04
26,474848,2021-07-09,2021-07-09,2023-08-04,474848,6/22/2021,6/25/2021,474848.0,2023-08-04
27,474848,2021-07-09,2021-07-09,2023-08-04,474848,6/22/2021,6/25/2021,474848.0,2023-08-04
28,474848,2021-07-09,2021-07-09,2023-08-04,474848,6/22/2021,6/25/2021,474848.0,2023-08-04
29,474848,2021-07-09,2021-07-09,2023-08-04,474848,6/22/2021,6/25/2021,474848.0,2023-08-04
30,474848,2021-07-09,2021-07-09,2023-08-04,474848,6/22/2021,6/25/2021,474848.0,2023-08-04
31,474848,2021-07-09,2021-07-09,2023-08-04,474848,6/22/2021,6/25/2021,474848.0,2023-08-04
32,474848,2021-07-09,2021-07-09,2023-08-04,474848,6/22/2021,6/25/2021,474848.0,2023-08-04
33,474848,2021-07-09,2021-07-09,2023-08-04,474848,6/22/2021,6/25/2021,474848.0,2023-08-04
34,474848,2021-07-09,2021-07-09,2023-08-04,474848,6/22/2021,6/25/2021,474848.0,2023-08-04
35,474848,2021-07-09,2021-07-09,2023-08-04,474848,NaN,6/25/2021,474848.0,2023-08-04
36,474848,2021-07-09,2021-07-09,2023-08-04,474848,NaN,6/25/2021,474848.0,2023-08-04
37,474848,2021-07-09,2021-07-09,2023-08-04,474848,NaN,6/25/2021,474848.0,2023-08-04
38,474848,2021-07-09,2021-07-09,2023-08-04,474848,NaN,6/25/2021,474848.0,2023-08-04
39,474967,2020-01-31,2020-01-31,2023-07-31,474967,1/7/2020,1/9/2020,474967.0,2023-07-31
40,474967,2020-01-31,2020-01-31,2023-07-31,474967,1/7/2020,1/9/2020,474967.0,2023-07-31
41,474967,2020-01-31,2020-01-31,2023-07-31,474967,1/7/2020,1/9/2020,474967.0,2023-07-31
42,474967,2020-01-31,2020-01-31,2023-07-31,474967,1/7/2020,1/9/2020,474967.0,2023-07-31
43,474967,2020-01-31,2020-01-31,2023-07-31,474967,1/7/2020,1/9/2020,474967.0,2023-07-31
44,474967,2020-01-31,2020-01-31,2023-07-31,474967,1/7/2020,1/9/2020,474967.0,2023-07-31
45,474967,2020-01-31,2020-01-31,2023-07-31,474967,1/7/2020,1/9/2020,474967.0,2023-07-31
46,474967,2020-01-31,2020-01-31,2023-07-31,474967,1/7/2020,1/9/2020,474967.0,2023-07-31
47,474967,2020-01-31,2020-01-31,2023-07-31,474967,1/7/2020,1/9/2020,474967.0,2023-07-31
48,474967,2020-01-31,2020-01-31,2023-07-31,474967,1/7/2020,1/9/2020,474967.0,2023-07-31
49,474967,2020-01-31,2020-01-31,2023-07-31,474967,1/7/2020,1/9/2020,474967.0,2023-07-31

In [23]:
#eo1[eo1['CHILD_ID']==504273]
#eco1.groupby(['CHILD_ID','name']).sum('total_claim_count').sort_values(by='total_claim_count', ascending=False)
eco1.[eco1['CHILD_ID']].unique()#['testDate'].nsmallest(1)#.nlargest(1,'Adaptive-Self Care Date of Testing')#.sort_values(by='total_claim_count', ascending=False)

SyntaxError: invalid syntax (2331358215.py, line 3)

def categorize(value):
    if value <= 30:
        return 'Low'
    elif 30 < value <= 120:
        return 'Medium'
    else:
        return 'High'

In [63]:
test = bdi2.pivot(index='resultStudentDomainID', columns='domainText', values='DQScore')

In [67]:
test1 = test[['Adaptive', 'Personal-Social', 'Communication', 'Motor', 'Cognitive']]

In [68]:
tes = pd.merge(bdi2, test1, on='resultStudentDomainID')

In [69]:
tes

,StudentID,studentAssessmentID,resultStudentDomainID,Student TEIDS ID,domainID,domainText,ScoreTypeID,ScoreTypeText,StaffExternalID,testDate,lastUpdateDate,rawScore,CompleteStatus,isSpanish,isSpanishIO,scaledScore,DQScore,PRScore,Ci95Min,Ci95Max,NceScore,TScore,ZScore,PRSign,AEScore,AESign,isSSRequired,stdDevScore1,stdDevScore2,stdDevScore3,NCESign,totalCSS,totalCSSMin,totalCSSMax,NormType,Adaptive,Personal-Social,Communication,Motor,Cognitive
0,2224693,8625078,138104116,52101,7,Self-Care,2.0,ItemDetails,34775.0,2/25/2022,NaN,2.0,1,NaN,NaN,6.0,NaN,9.0,NaN,NaN,22.0,37.0,-1.33,NaN,0.0,NaN,1.0,NaN,NaN,NaN,NaN,322.0,301.0,343.0,2,NaN,NaN,NaN,NaN,NaN
1,2224693,8625078,138104117,52101,10,Adult Interaction,2.0,ItemDetails,34775.0,2/25/2022,NaN,14.0,1,NaN,NaN,15.0,NaN,95.0,NaN,NaN,85.0,67.0,1.67,NaN,5.0,NaN,1.0,NaN,NaN,NaN,NaN,413.0,403.0,423.0,2,NaN,NaN,NaN,NaN,NaN
2,2224693,8625078,138104118,52101,12,Self-Concept and Social Role,2.0,ItemDetails,34775.0,2/25/2022,NaN,6.0,1,NaN,NaN,11.0,NaN,63.0,NaN,NaN,57.0,53.0,0.33,NaN,2.0,NaN,1.0,NaN,NaN,NaN,NaN,365.0,355.0,375.0,2,NaN,NaN,NaN,NaN,NaN
3,2224693,8625078,138104119,52101,14,Receptive Communication,2.0,ItemDetails,34775.0,2/25/2022,NaN,4.0,1,NaN,NaN,6.0,NaN,9.0,NaN,NaN,22.0,37.0,-1.33,NaN,0.0,NaN,1.0,NaN,NaN,NaN,NaN,343.0,333.0,353.0,2,NaN,NaN,NaN,NaN,NaN
4,2224693,8625078,138104120,52101,15,Expressive Communication,2.0,ItemDetails,34775.0,2/25/2022,NaN,1.0,1,NaN,NaN,4.0,NaN,2.0,NaN,NaN,8.0,30.0,-2.00,NaN,0.0,NaN,1.0,NaN,NaN,NaN,NaN,288.0,267.0,309.0,2,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325681,2319431,8761874,140602545,NaN,13,Communication,NaN,NaN,NaN,NaN,NaN,24.0,1,0.0,NaN,3.0,56.0,0.2,51.0,67.0,1.0,21.0,-2.93,NaN,NaN,NaN,1.0,NaN,NaN,NaN,<,381.0,373.0,388.0,2,NaN,NaN,56.0,NaN,NaN
325682,2319431,8761874,140602546,NaN,16,Motor,NaN,NaN,NaN,NaN,NaN,70.0,1,0.0,NaN,15.0,88.0,21.0,83.0,95.0,33.0,42.0,-0.80,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,427.0,420.0,433.0,2,NaN,NaN,NaN,88.0,NaN
325683,2319431,8761874,140602547,NaN,19,Perceptual Motor,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN
325684,2319431,8761874,140602548,NaN,20,Cognitive,NaN,NaN,NaN,NaN,NaN,32.0,1,0.0,NaN,14.0,80.0,9.0,73.0,91.0,22.0,37.0,-1.33,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,433.0,424.0,441.0,2,NaN,NaN,NaN,NaN,80.0
325685,2319431,8761874,140602549,NaN,22,Reasoning and Academic Skills,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN